@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #696969;
}

.wrapper{
    width: 650px;
    background-color: #fff;
    border-radius: 15px;
    padding: 30px 30px 25px;
}


.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}

.wrapper .content{
    margin: 35px 0;
}

.content .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i{
    font-size: 15px;
}

.quote-area i:first-child{
    margin: 3px 10px 0 0;
}

.quote-area i:last-child{
    display: flex;
   align-items: flex-end;
    margin: 0 0 3px 10px ;
}

.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}
.content .author{
    font-size: 18px;
    font-style: italic;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons{
    border-top: 1px solid #ccc;
}

.buttons .features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.features ul{
    display: flex;
}

.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #696969;
    color: #696969;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.features ul li:hover{
    color: #fff;
    background: #696969;
}

.features button{
    border: none;
    outline: none;
    color: #fff;
    border-radius: 30px;
    background: #696969;
    padding: 13px 22px;
    cursor: pointer;
    font-style: 16px;
}

.features button:hover{
    background-color: #8c8c8c;
}

button.loading{
    opacity: 0.7;
    pointer-events: none;
}

